@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

:root {
  --animated-transition: 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  --toggled-transition: 500ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

html,
body {
  width: 100%;
  min-height: 100vh;
  background-color: #3e3e3e;
  font-family: "Cairo", sans-serif;
  font-size: 14px;
  background-image: linear-gradient(
    45deg,
    hsl(291deg 28% 15%) 0%,
    hsl(286deg 28% 14%) 11%,
    hsl(280deg 28% 14%) 24%,
    hsl(274deg 28% 13%) 40%,
    hsl(268deg 28% 13%) 61%,
    hsl(262deg 27% 13%) 84%,
    hsl(256deg 27% 12%) 93%,
    hsl(251deg 27% 12%) 96%,
    hsl(245deg 27% 11%) 98%,
    hsl(239deg 27% 11%) 99%,
    hsl(233deg 27% 10%) 100%,
    hsl(227deg 27% 10%) 100%,
    hsl(222deg 27% 10%) 100%
  );
}
.bg-lighten {
  background-color: #f3f3f3;
}
.mx-w-800 {
  max-width: 800px;
}
.mn-w-100 {
  min-width: 100px;
}
.mn-w-150 {
  min-width: 150px;
}
.btn-purple {
  background-color: #452970;
  border-color: #5f35a1;
  color: #fff;
}
.cursor-pointer {
  cursor: pointer;
}
.btn-purple:hover,
.btn-purple:focus-visible {
  background-color: #714ea8;
  border-color: #5f35a1;
  color: #fff;
}
.btn-purple i {
  transition: var(--animated-transition);
  -webkit-transition: var(--animated-transition);
  -moz-transition: var(--animated-transition);
  -ms-transition: var(--animated-transition);
  -o-transition: var(--animated-transition);
}
.btn-purple:hover i {
  rotate: 360deg;
}
.dropdown-menu-purple,
.dropdown-menu-purple.show,
.dropdown-menu-purple:active,
.dropdown-menu-purple:focus {
  background-color: #714ea8;
}

.dropdown-menu-purple .dropdown-item {
  color: #fff;
}
.dropdown-menu-purple .dropdown-item:hover {
  background-color: #5f35a1;
  color: #fff;
}
.dropdown-menu-purple .input-focus:focus {
  color: var(--bs-body-color);
  background-color: #fff;
  border-color: #a088bb;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(109 89 141);
}
.main-border-color {
  border-color: #452970;
}
.accent-green-color {
  accent-color: #4fa54f !important;
}
.radius-10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.radius-20 {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
@media (min-width: 768px) {
  .w-md-auto {
    width: auto !important;
  }
}
